@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Plats för stor gemensam kalender</h1>
        <p class="lead">Här kan man lägga en gemensam kalender för registrering av frånvaro respektive gemensamma aktiviteter eller annat. </p>
        <p>--- Denna kalender ska dock bara vara synligt efter inloggning ---</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Area 1</h2>
            <p>Här kan man lägga upp saker som behöver göras, tex returnerade tidrapporter, administrativa saker som triggas av kalender etc etc. </p>
        </div>
        <div class="col-md-6">
            <h2>Area 2</h2>
            <p>...</p>
        </div>
    </div>
}